body {
   overflow-x: hidden !important;
}

.toucan-div {
   position: relative;
   z-index: 100;
   width: 100%;
   height: 0;
}

.toucan-img {
   position: absolute;
   right: -14rem;
   width: 14rem;
   height: 15rem;
   padding: 3rem 0;
   margin: 0;
   box-sizing: border-box;
   animation: fly 8s;
}

@keyframes fly {
   0% {
      right: -14rem;
      transform: scale(1);
   }
   100% {
      right: 100%;
      transform: scale(0.3);
   }
}
